.headline {
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;
  letter-spacing: 2px;
}

.characterCardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.characterCard {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.charName {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}

.charDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-indent: 1rem;
  margin: 0 1rem;
  height: 110px;
  text-align: justify;
}

.charStats {
  color: blue;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 0.5rem;
}

.charSelectBtn {
  border: none;
  background-color: black;
  color: white;
  width: 100%;
  padding: 1rem 0;
}

.charSelectBtnDv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.charSelectBtn:hover {
  cursor: pointer;
  background-color: rgb(76, 76, 76);
  text-decoration: underline;
}
